<%= form_for (@user), :url => users_path, :html => {class: "form-signin"} do
  |f| %>
  <div class="form-group">
    <%= f.text_field :Username, class: "form-control", placeholder: "Enter
    Username" %>
  </div>
  <div class="form-input">
    <%= f.text_field :Fullname, class: "form-control", placeholder: "Enter
    Fullname" %>
  </div>
  <div class="form-label mt-2">
    <%= f.label :Photo %>
  </div>
  <div class="form-label-group">
    <%= f.file_field :Photo, class: "form-control shadow" %>
  </div>
  <div class="form-label mt-2">
    <%= f.label :CoverImage%>
  </div>
  <div class="form-label-group">
    <%= f.file_field :CoverImage, class: "form-control shadow", placeholder:
    "choose a photo" %>
  </div>
  <div class="form-label-group">
    <%= f.submit "sign up", class: "btn btn-lg btn-primary btn-block
    text-uppercase"%>
  </div>
  <%= link_to "Login in to Netflixer", login_path %> <% end %>
